*{
    box-sizing: border-box;
}

body{
    background-color: #050021;
}


/* Navigation styling */
.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav{
    float: right;
}

.nav li{
    display: inline;
    padding: 7px;
}

.nav-index{
    color: #FDFFAF;
}

.logo{
    float: left;
}